Uxvt.perl-ext-common: font-size
URxvt.depth: 32

URxvt.font:	xft:xos4 Terminus:size=12
!URxvt.font:	xft:DejaVuSansMono:size=12
URxvt.scrollBar:	false

!BACKGROUND & TRANSPARENCY ====================================================

!95 is the opacity in %
!URxvt.foreground: [85]#000000

!urxvt*transparent:	true
!urxvt*shading:	30
*foreground: #f2f2f2
!urxvt.background: rgba:0000/0000/0200/c800
URxvt.background: [80]#000000

!COLORS =======================================================================
!*.foreground: #fdfdfd
!*.background: #000f1f
*.color0: #003748
*.color8: #134b5c
*.color1: #de4968
*.color9: #fe4365
*.color2: #82b5c0
*.color10: #18a8a8
*.color3: #fad493
*.color11: #f8d49a
*.color4: #066386
*.color12: #3587a7
*.color5: #1bb0ce
*.color13: #83dae3
*.color6: #c6e5d9
*.color14: #0fefd9
*.color7: #d0d0d0
*.color15: #e7edea


!KEYBINDINGS ==================================================================
!SCROLL
URxvt.keysym.Shift-Up:     command:\033]720;1\007
URxvt.keysym.Shift-Down:     command:\033]721;1\007

!COPY PASTE
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard

!ZOOM
URxvt.keysym.C-Up:     font-size:increase
URxvt.keysym.C-Down:   font-size:decrease
URxvt.keysym.C-S-Up:   font-size:incglobal
URxvt.keysym.C-S-Down: font-size:decglobal
URxvt.keysym.C-equal:  font-size:reset
URxvt.keysym.C-slash:  font-size:show 

