URxvt.perl-ext-common: font-size
URxvt.depth: 32

URxvt.font:	xft:Fixed:size=11
!URxvt.font:	xft:DejaVuSansMono:size=12
URxvt.scrollBar:	false

!BACKGROUND & TRANSPARENCY ====================================================

!95 is the opacity in %
!URxvt.foreground: [95]#ffffff

!urxvt*transparent:	true
!urxvt*shading:	30
*foreground: #f2f2f2
*background: rgba:0000/0000/0200/c800

!COLORS =======================================================================
*.color0: #151515
*.color1: #ac4142
*.color10: #7e8e50
*.color11: #e5b567
*.color12: #6c99bb
*.color13: #9f4e85
*.color14: #7dd6cf
*.color15: #f5f5f5
*.color2: #7e8e50
*.color3: #e5b567
*.color4: #6c99bb
*.color5: #9f4e85
*.color6: #7dd6cf
*.color7: #d0d0d0
*.color8: #505050
*.color9: #ac4142

!KEYBINDINGS ==================================================================
!SCROLL
URxvt.keysym.Shift-Up:     command:\033]720;1\007
URxvt.keysym.Shift-Down:     command:\033]721;1\007


!ZOOM
URxvt.keysym.C-Up:     font-size:increase
URxvt.keysym.C-Down:   font-size:decrease
URxvt.keysym.C-S-Up:   font-size:incglobal
URxvt.keysym.C-S-Down: font-size:decglobal
URxvt.keysym.C-equal:  font-size:reset
URxvt.keysym.C-slash:  font-size:show 

