URxvt.perl-ext-common: font-size
URxvt.depth: 32

URxvt.font:	xft:Fixed:size=11
!URxvt.font:	xft:DejaVuSansMono:size=12
URxvt.scrollBar:	false

!BACKGROUND & TRANSPARENCY ====================================================

!95 is the opacity in %
!URxvt.foreground: [95]#ffffff

!urxvt*transparent:	true
!urxvt*shading:	30
urxvt*foreground: #f2f2f2
urxvt*background: [85]#101010
urxvt.background: rgba:0000/0000/0200/c800

!COLORS =======================================================================
! Normal
! color0    black
! color1    red
! color2    green
! color3    yellow
! color4    blue
! color5    purple
! color6    cyan
! color7    white

urxvt*color0:    #6c6c6c
urxvt*color1:    #e9897c
urxvt*color2:    #b6e77d
urxvt*color3:    #ecebbe
urxvt*color4:    #a9cdeb
urxvt*color5:    #ea96eb
urxvt*color6:    #c9caec
urxvt*color7:    #f2f2f2

! Light
! color8    black
! color9    red
! color10    green
! color11    yellow
! color12    blue
! color13    purple
! color14    cyan
! color15    white

urxvt*color8:    #747474
urxvt*color9:    #f99286
urxvt*color10:    #c3f786
urxvt*color11:    #fcfbcc
urxvt*color12:    #b6defb
urxvt*color13:    #fba1fb
urxvt*color14:    #d7d9fc
urxvt*color15:    #e2e2e2


!KEYBINDINGS ==================================================================
!SCROLL
URxvt.keysym.Shift-Up:     command:\033]720;1\007
URxvt.keysym.Shift-Down:     command:\033]721;1\007


!ZOOM
URxvt.keysym.C-Up:     font-size:increase
URxvt.keysym.C-Down:   font-size:decrease
URxvt.keysym.C-S-Up:   font-size:incglobal
URxvt.keysym.C-S-Down: font-size:decglobal
URxvt.keysym.C-equal:  font-size:reset
URxvt.keysym.C-slash:  font-size:show 

